body
{
  margin: 0;
  font-family: serif;
  text-align: center;
  background-color: #DDDCC0;
}

.navbar-nav
{
  margin-left: auto;
}

.description
{
  font-size: 0.75rem;
  color: #3797a4;
  font-family: 'Merriweather', serif;

}

.fourthdiv
{
  margin-bottom: 10px;
}
.top-image
{
  height: auto;
  width: 100%;
}
.topdiv
{
  position: relative; 
}
.heading
{
  position: absolute;
  font-family: sail,sans-serif;
  font-weight: 400;
  font-style: normal;
  top: 43%;
  left: 28%;
}
.seconddiv
{

  font-family: 'Great Vibes', cursive;
  color: #3797a4;
}
.thirddiv
{
  position: relative;
  right: 180px;
}
h1
{
  font-size: 4rem;
}
h2 
{
  color: #3797a4;
  font-family: 'Merriweather', serif;
}
p
{
  font-size: 1.2rem;
  color: black;
  font-family: 'Merriweather', serif;
}
.skills
{
  padding: 20px 40px;
}
.skill-row
{
  padding: 1%;
  line-height: 2;
  text-align: left;
  margin: auto;
  width: 50%;
}
.code-image
{
  float: left;
  margin-right:30px;
  width: 25%
}
.chilli-image
{
  float: right;
  margin-left: 30px;
  width: 25%;
}
.middle-container
{
  background-color:#DDDCC0;
  line-height: 2;
  margin: auto;
  text-align: center;
}
.profile img
{
  height: 150px;
  width: 150px;
}
.profile
{
  width: 50%;
  margin: 20px auto auto auto;
}

.bottom-container
{
  padding: 40px 0 20px;
  background-color: #7D9B92;
}


.contact-message
{
  width: 50%;
  margin: 40px auto 40px auto;
}



.bottom-container p{
  margin-top: 40px;
  margin-bottom: 0;
}

a:hover{
  color: #e8e4e1;
}


.copyright
{
  color: #e8e4e1;
  font-family: 'Merriweather' ,serif;
  font-size: 0.75rem;
}
