body
{
  margin: 0;
  font-family: serif;
  text-align: center;
  background-color: #aacfcf;
}

hr
{
      border-style: none;
      border-top-style: dotted;
      width: 7%;
      border-width: 5px;
      border-color: #EAF6F6;
}

.fourthdiv
{
  margin-bottom: 10px;
}
.topdiv
{

  position: relative;
  background-color:#aacfcf;
}
.seconddiv
{
  font-family: 'Great Vibes', cursive;
  color: #3797a4;
}
.thirddiv
{

  position: relative;
  right: 180px;
}

h1
{
  font-size: 4rem;
}
h3
{
  color: #3797a4;
  font-family: 'Merriweather', serif;
}
h2
{

  color: #3797a4;
  font-family: 'Merriweather', serif;
}
p
{
  font-size: 1.2rem;
  color: black;
  font-family: 'Merriweather', serif;
}
.skill-row
{
  padding: 1%;
  line-height: 2;
  text-align: left;
  margin: auto;
width: 50%;
}
.code-image
{
  float: left;
  margin-right:30px;
  width: 25%
}
.chilli-image
{
  float: right;
  margin-left: 30px;
  width: 25%;
}
.middle-container
{
  background-color:#e8e4e1;
  line-height: 2;
  margin: auto;
  text-align: center;
}
.profile
{
  width: 50%;
  margin: 20px auto auto auto;
}

.bottom-container
{
  padding: 40px 0 20px;
  background-color: #2fc4b2;
}


.contact-message
{
  width: 50%;
  margin: 40px auto 40px auto;
}

.btn {
  margin-bottom: 40px;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#2fc4b2;
	border-radius:40px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.bottom-container p{
  margin-top: 40px;
  margin-bottom: 0;
}

a:hover{
  color: #e8e4e1;
}

a
{
text-decoration: none;
padding: 0px 20px 0px 20px;
color:  #3797a4;
font-family: 'Merriweather' ,serif;
}
.copyright
{
  color: #e8e4e1;
  font-family: 'Merriweather' ,serif;
  font-size: 0.75rem;
}
